body,
h1,
h2,
h3,
fieldset,
legend,
input,
ul,
li,
p {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

legend,
fieldset {
  border: 0 none; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

form {
  font-size: 14px;
  font-size: .875rem; }
  form > div {
    padding-bottom: 10px; }

label {
  display: block; }

label[for] {
  font-weight: bold; }

input[type="text"],
input[type="password"] {
  border: 1px solid white;
  border-bottom-color: black;
  font-size: 14px;
  font-size: .875rem;
  padding: 10px 0; }

input[type="text"]:focus,
input[type="password"]:focus {
  box-shadow: 0 1px 0 rgba(128, 128, 128, 0.5), 0 2px 0 rgba(128, 128, 128, 0.2); }

button {
  background: #1de67e;
  border: 0 none;
  border-radius: 0;
  cursor: pointer;
  font-size: 14px;
  font-size: .875rem;
  font-weight: bold;
  padding: 10px 20px; }

button[aria-disabled='true'],
button.disabled {
  background: gray;
  cursor: default; }

button:not(.disabled):hover,
button:not([aria-disabled='true']):hover,
button:not(.disabled):focus,
button:not([aria-disabled='true']):focus,
button:not(.disabled):active,
button:not([aria-disabled='true']):active {
  box-shadow: 0 2px 4px gray; }

button::after {
  display: inline-block;
  font-size: 20px;
  font-size: 1.25rem;
  margin: -10px 0 -10px 5px; }
button.next::after {
  content: "\2192"; }

div.layout.flex {
  display: flex; }
div.layout.third > div:first-child {
  width: 33.3333%; }
div.layout.third > div:last-child {
  width: 66.6666%; }

@media (max-width: 800px) {
  div.layout.flex {
    flex-wrap: wrap; }
  div.layout.third > div:first-child,
  div.layout.third > div:last-child {
    width: 100%; } }
@font-face {
  font-family: 'Chivo';
  src: url("../resources/fonts/chivo-light-webfont.eot");
  src: url("../resources/fonts/chivo-light-webfont.woff2") format("woff2"), url("../resources/fonts/chivo-light-webfont.woff") format("woff"), url("../resources/fonts/chivo-light-webfont.ttf") format("truetype"), url("../resources/fonts/chivo-light-webfont.eot?#iefix") format("embedded-opentype");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'Chivo';
  src: url("../resources/fonts/chivo-lightitalic-webfont.eot");
  src: url("../resources/fonts/chivo-lightitalic-webfont.woff2") format("woff2"), url("../resources/fonts/chivo-lightitalic-webfont.woff") format("woff"), url("../resources/fonts/chivo-lightitalic-webfont.ttf") format("truetype"), url("../resources/fonts/chivo-lightitalic-webfont.eot?#iefix") format("embedded-opentype");
  font-weight: 200;
  font-style: italic; }
@font-face {
  font-family: 'Chivo';
  src: url("../resources/fonts/chivo-regular-webfont.eot");
  src: url("../resources/fonts/chivo-regular-webfont.woff2") format("woff2"), url("../resources/fonts/chivo-regular-webfont.woff") format("woff"), url("../resources/fonts/chivo-regular-webfont.ttf") format("truetype"), url("../resources/fonts/chivo-regular-webfont.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Chivo';
  src: url("../resources/fonts/chivo-italic-webfont.eot");
  src: url("../resources/fonts/chivo-italic-webfont.woff2") format("woff2"), url("../resources/fonts/chivo-italic-webfont.woff") format("woff"), url("../resources/fonts/chivo-italic-webfont.ttf") format("truetype"), url("../resources/fonts/chivo-italic-webfont.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Chivo';
  src: url("../resources/fonts/chivo-bold-webfont.eot");
  src: url("../resources/fonts/chivo-bold-webfont.woff2") format("woff2"), url("../resources/fonts/chivo-bold-webfont.woff") format("woff"), url("../resources/fonts/chivo-bold-webfont.ttf") format("truetype"), url("../resources/fonts/chivo-bold-webfont.eot?#iefix") format("embedded-opentype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Chivo';
  src: url("../resources/fonts/chivo-bolditalic-webfont.eot");
  src: url("../resources/fonts/chivo-bolditalic-webfont.woff2") format("woff2"), url("../resources/fonts/chivo-bolditalic-webfont.woff") format("woff"), url("../resources/fonts/chivo-bolditalic-webfont.ttf") format("truetype"), url("../resources/fonts/chivo-bolditalic-webfont.eot?#iefix") format("embedded-opentype");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Chivo';
  src: url("../resources/fonts/chivo-black-webfont.eot");
  src: url("../resources/fonts/chivo-black-webfont.woff2") format("woff2"), url("../resources/fonts/chivo-black-webfont.woff") format("woff"), url("../resources/fonts/chivo-black-webfont.ttf") format("truetype"), url("../resources/fonts/chivo-black-webfont.eot?#iefix") format("embedded-opentype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Chivo';
  src: url("../resources/fonts/chivo-blackitalic-webfont.eot");
  src: url("../resources/fonts/chivo-blackitalic-webfont.woff2") format("woff2"), url("../resources/fonts/chivo-blackitalic-webfont.woff") format("woff"), url("../resources/fonts/chivo-blackitalic-webfont.ttf") format("truetype"), url("../resources/fonts/chivo-blackitalic-webfont.eot?#iefix") format("embedded-opentype");
  font-weight: 900;
  font-style: italic; }
body,
input,
textarea,
button {
  color: black;
  font-family: 'Chivo', sans-serif; }

body.login .layout {
  height: 100vh; }
body.login .login_form {
  box-shadow: 0 0 10px gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  z-index: 10; }
  body.login .login_form .endi_logo {
    flex: 1 0 auto; }
  body.login .login_form form {
    flex: 3 0 auto; }
    body.login .login_form form > div {
      padding-bottom: 30px; }
    body.login .login_form form input[type="text"],
    body.login .login_form form input[type="password"] {
      width: 100%; }
  body.login .login_form .login_footer {
    align-items: flex-end;
    display: flex;
    font-size: 12px;
    font-size: .75rem;
    justify-content: space-between;
    flex: 0 0 auto; }
    body.login .login_form .login_footer p:first-child {
      margin-right: 5px; }
    body.login .login_form .login_footer p:last-child {
      margin-left: 5px;
      text-align: right; }
    body.login .login_form .login_footer a {
      text-decoration: none; }
    body.login .login_form .login_footer a:hover,
    body.login .login_form .login_footer a:focus,
    body.login .login_form .login_footer a:active {
      text-decoration: underline; }
body.login .atwork_photo {
  background-color: gray;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  body.login .atwork_photo > p {
    background: rgba(255, 255, 255, 0.5);
    bottom: 10px;
    font-size: 12px;
    font-size: .75rem;
    padding: 5px 10px;
    position: absolute;
    right: 10px;
    text-align: right;
    text-shadow: 0 0 1px white;
    max-width: calc( 100% - 20px ); }

@media (max-width: 500px) {
  body.login .login_form {
    padding: 20px; }
    body.login .login_form form {
      padding-top: 40px; } }
@media (min-width: 501px) and (max-width: 800px) {
  body.login .endi_logo {
    left: 50px;
    position: absolute;
    top: 50px; }
  body.login .login_form form,
  body.login .login_form .login_footer {
    margin-left: 178px; }
  body.login .login_form .login_footer {
    padding-top: 20px; } }
@media (max-width: 800px) {
  body.login .layout {
    height: auto;
    min-height: 100vh; }
  body.login .login_form form {
    flex: 1 0 auto; }
  body.login .atwork_photo {
    min-height: 50vh; } }
body {
  background: white; }

ul {
  list-style-type: square;
  list-style-position: inside; }

a:link {
  color: #007ab1; }

a:visited {
  color: #67777e; }

a:hover,
a:focus,
a:active {
  text-decoration: none; }

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; }

/*# sourceMappingURL=main.css.map */
