body,
h1,
h2,
h3,
fieldset,
legend,
input,
ul,
li,
p {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

legend,
fieldset {
  border: 0 none; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

form {
  font-size: 14px;
  font-size: .875rem; }
  form > div {
    padding-bottom: 10px; }

label {
  display: block; }

label[for] {
  font-weight: bold; }

input[type="text"],
input[type="password"] {
  border: 1px solid white;
  border-bottom-color: black;
  font-size: 14px;
  font-size: .875rem;
  padding: 10px 0; }

input[type="text"]:focus,
input[type="password"]:focus {
  box-shadow: 0 1px 0 rgba(128, 128, 128, 0.5), 0 2px 0 rgba(128, 128, 128, 0.2); }

button {
  background: #1de67e;
  border: 0 none;
  border-radius: 0;
  cursor: pointer;
  font-size: 14px;
  font-size: .875rem;
  font-weight: bold;
  padding: 10px 20px; }

button[aria-disabled='true'],
button.disabled {
  background: gray;
  cursor: default; }

button:not(.disabled):hover,
button:not([aria-disabled='true']):hover,
button:not(.disabled):focus,
button:not([aria-disabled='true']):focus,
button:not(.disabled):active,
button:not([aria-disabled='true']):active {
  box-shadow: 0 2px 4px gray; }

button::after {
  display: inline-block;
  font-size: 20px;
  font-size: 1.25rem;
  margin: -10px 0 -10px 5px; }
button.next::after {
  content: "\2192"; }

.main_header {
  background: #9b001f;
  color: white;
  flex: 0 0 auto;
  height: 75px;
  padding: 5px 30px; }
  .main_header .breadcrumbs {
    font-size: 12px;
    font-size: .75rem;
    font-weight: 200; }
  .main_header h1 {
    padding-top: 10px; }

@media (min-width: 1200px) {
  div.context_help {
    border-left: 1px dashed rgba(128, 128, 128, 0.2);
    padding: 10px;
    min-width: 150px;
    max-width: 300px;
    overflow: auto;
    position: sticky;
    right: 0;
    top: 0; } }
@media (max-width: 1200px) {
  div.context_help {
    border-top: 1px dashed rgba(128, 128, 128, 0.2);
    padding: 10px 30px;
    width: 100%; } }
div.layout.flex {
  display: flex; }
div.layout.third > div:first-child {
  width: 33.3333%; }
div.layout.third > div:last-child {
  width: 66.6666%; }

@media (max-width: 800px) {
  div.layout.flex {
    flex-wrap: wrap; }
  div.layout.third > div:first-child,
  div.layout.third > div:last-child {
    width: 100%; } }
div.base_layout {
  height: 100vh;
  width: 100vw; }

div.base_content {
  flex: 1 0 auto;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; }

div.main_area {
  flex: 1 0 auto;
  overflow: auto; }

.main_area {
  height: calc( 100vh - 75px ); }
  .main_area > main {
    flex: 1 0 auto; }

.main_actions {
  background: white;
  margin-left: 25px;
  padding: 10px 30px 10px 5px;
  position: sticky;
  text-align: right;
  top: 0; }

.main_content {
  padding: 10px 30px; }

@media (min-width: 1200px) {
  .main_area {
    display: flex; } }
div.base_menu {
  align-items: flex-start;
  background: white;
  box-shadow: 0 0 10px gray;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  justify-content: space-between;
  max-width: 300px; }
  div.base_menu > *:not(nav) {
    flex: 0 0 auto;
    padding: 10px 50px; }
  div.base_menu > nav {
    flex: 1 0 auto;
    padding: 10px 0;
    width: 100%; }
  div.base_menu .access_tools {
    margin-left: -400px; }
    div.base_menu .access_tools a {
      display: block;
      margin-bottom: 5px;
      transition: transform .15s ease-out; }
    div.base_menu .access_tools:focus a,
    div.base_menu .access_tools a:focus {
      transform: translate(400px); }
  div.base_menu header {
    font-weight: bold; }
    div.base_menu header .user_avatar {
      background: #9b001f;
      border-radius: 50%;
      display: inline-block;
      height: 48px;
      margin-right: 5px;
      vertical-align: middle;
      width: 48px; }
      div.base_menu header .user_avatar img {
        clip-path: circle(24px at center); }
  div.base_menu nav ul {
    list-style-type: none;
    width: 100%; }
    div.base_menu nav ul li {
      display: block; }
    div.base_menu nav ul a {
      border-left: 5px solid white;
      color: black;
      display: block;
      padding: 7px 10px 7px 45px;
      text-decoration: none; }
      div.base_menu nav ul a:hover, div.base_menu nav ul a:focus {
        background: #9b001f;
        color: white; }
      div.base_menu nav ul a:active {
        border-color: #9b001f; }
    div.base_menu nav ul li.current_item > a {
      border-color: #9b001f; }
  div.base_menu footer {
    font-size: 10px;
    font-size: .625rem; }

@media (min-height: 1001px) {
  div.base_menu nav ul a {
    padding-bottom: 10px;
    padding-top: 10px; } }
@font-face {
  font-family: 'Chivo';
  src: url("../resources/fonts/chivo-light-webfont.eot");
  src: url("../resources/fonts/chivo-light-webfont.woff2") format("woff2"), url("../resources/fonts/chivo-light-webfont.woff") format("woff"), url("../resources/fonts/chivo-light-webfont.ttf") format("truetype"), url("../resources/fonts/chivo-light-webfont.eot?#iefix") format("embedded-opentype");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'Chivo';
  src: url("../resources/fonts/chivo-lightitalic-webfont.eot");
  src: url("../resources/fonts/chivo-lightitalic-webfont.woff2") format("woff2"), url("../resources/fonts/chivo-lightitalic-webfont.woff") format("woff"), url("../resources/fonts/chivo-lightitalic-webfont.ttf") format("truetype"), url("../resources/fonts/chivo-lightitalic-webfont.eot?#iefix") format("embedded-opentype");
  font-weight: 200;
  font-style: italic; }
@font-face {
  font-family: 'Chivo';
  src: url("../resources/fonts/chivo-regular-webfont.eot");
  src: url("../resources/fonts/chivo-regular-webfont.woff2") format("woff2"), url("../resources/fonts/chivo-regular-webfont.woff") format("woff"), url("../resources/fonts/chivo-regular-webfont.ttf") format("truetype"), url("../resources/fonts/chivo-regular-webfont.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Chivo';
  src: url("../resources/fonts/chivo-italic-webfont.eot");
  src: url("../resources/fonts/chivo-italic-webfont.woff2") format("woff2"), url("../resources/fonts/chivo-italic-webfont.woff") format("woff"), url("../resources/fonts/chivo-italic-webfont.ttf") format("truetype"), url("../resources/fonts/chivo-italic-webfont.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Chivo';
  src: url("../resources/fonts/chivo-bold-webfont.eot");
  src: url("../resources/fonts/chivo-bold-webfont.woff2") format("woff2"), url("../resources/fonts/chivo-bold-webfont.woff") format("woff"), url("../resources/fonts/chivo-bold-webfont.ttf") format("truetype"), url("../resources/fonts/chivo-bold-webfont.eot?#iefix") format("embedded-opentype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Chivo';
  src: url("../resources/fonts/chivo-bolditalic-webfont.eot");
  src: url("../resources/fonts/chivo-bolditalic-webfont.woff2") format("woff2"), url("../resources/fonts/chivo-bolditalic-webfont.woff") format("woff"), url("../resources/fonts/chivo-bolditalic-webfont.ttf") format("truetype"), url("../resources/fonts/chivo-bolditalic-webfont.eot?#iefix") format("embedded-opentype");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Chivo';
  src: url("../resources/fonts/chivo-black-webfont.eot");
  src: url("../resources/fonts/chivo-black-webfont.woff2") format("woff2"), url("../resources/fonts/chivo-black-webfont.woff") format("woff"), url("../resources/fonts/chivo-black-webfont.ttf") format("truetype"), url("../resources/fonts/chivo-black-webfont.eot?#iefix") format("embedded-opentype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Chivo';
  src: url("../resources/fonts/chivo-blackitalic-webfont.eot");
  src: url("../resources/fonts/chivo-blackitalic-webfont.woff2") format("woff2"), url("../resources/fonts/chivo-blackitalic-webfont.woff") format("woff"), url("../resources/fonts/chivo-blackitalic-webfont.ttf") format("truetype"), url("../resources/fonts/chivo-blackitalic-webfont.eot?#iefix") format("embedded-opentype");
  font-weight: 900;
  font-style: italic; }
body,
input,
textarea,
button {
  color: black;
  font-family: 'Chivo', sans-serif; }

h1 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: bold; }

h2 {
  font-size: 22px;
  font-size: 1.25rem;
  font-weight: bold; }

h3 {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: bold; }

h4 {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: bold; }

h5 {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: normal; }

h6 {
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold; }

body.login .layout {
  height: 100vh; }
body.login .login_form {
  box-shadow: 0 0 10px gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  z-index: 10; }
  body.login .login_form .endi_logo {
    flex: 1 0 auto; }
  body.login .login_form form {
    flex: 3 0 auto; }
    body.login .login_form form > div {
      padding-bottom: 30px; }
    body.login .login_form form input[type="text"],
    body.login .login_form form input[type="password"] {
      width: 100%; }
  body.login .login_form .login_footer {
    align-items: flex-end;
    display: flex;
    font-size: 12px;
    font-size: .75rem;
    justify-content: space-between;
    flex: 0 0 auto; }
    body.login .login_form .login_footer p:first-child {
      margin-right: 5px; }
    body.login .login_form .login_footer p:last-child {
      margin-left: 5px;
      text-align: right; }
    body.login .login_form .login_footer a {
      text-decoration: none; }
    body.login .login_form .login_footer a:hover,
    body.login .login_form .login_footer a:focus,
    body.login .login_form .login_footer a:active {
      text-decoration: underline; }
body.login .atwork_photo {
  background-color: gray;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  body.login .atwork_photo > p {
    background: rgba(255, 255, 255, 0.5);
    bottom: 10px;
    font-size: 12px;
    font-size: .75rem;
    padding: 5px 10px;
    position: absolute;
    right: 10px;
    text-align: right;
    text-shadow: 0 0 1px white;
    max-width: calc( 100% - 20px ); }

@media (max-width: 500px) {
  body.login .login_form {
    padding: 20px; }
    body.login .login_form form {
      padding-top: 40px; } }
@media (min-width: 501px) and (max-width: 800px) {
  body.login .endi_logo {
    left: 50px;
    position: absolute;
    top: 50px; }
  body.login .login_form form,
  body.login .login_form .login_footer {
    margin-left: 178px; }
  body.login .login_form .login_footer {
    padding-top: 20px; } }
@media (max-width: 800px) {
  body.login .layout {
    height: auto;
    min-height: 100vh; }
  body.login .login_form form {
    flex: 1 0 auto; }
  body.login .atwork_photo {
    min-height: 50vh; } }
body {
  background: white; }

ul {
  list-style-type: square;
  list-style-position: inside; }

a:link {
  color: #007ab1; }

a:visited {
  color: #67777e; }

a:hover,
a:focus,
a:active {
  text-decoration: none; }

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; }

/*# sourceMappingURL=main.css.map */
