body,
h1,
h2,
h3,
fieldset,
legend,
input,
ul,
li,
p {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

legend,
fieldset {
  border: 0 none; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

form {
  font-size: 14px;
  font-size: .875rem; }
  form > div {
    padding-bottom: 10px; }

label {
  display: block; }

label[for] {
  font-weight: bold; }

input[type="text"],
input[type="password"] {
  border: 1px solid white;
  border-bottom-color: black;
  font-size: 14px;
  font-size: .875rem;
  padding: 10px 0; }

input[type="text"]:focus,
input[type="password"]:focus {
  box-shadow: 0 1px 0 rgba(128, 128, 128, 0.5), 0 2px 0 rgba(128, 128, 128, 0.2); }

button {
  background: white;
  border: 1px solid #1de67e;
  border-radius: 0;
  cursor: pointer;
  font-size: 14px;
  font-size: .875rem;
  font-weight: bold;
  padding: 10px 20px; }
  button.icon.only {
    padding: 10px; }

button.main {
  background: #1de67e; }

button[aria-disabled='true'],
button.disabled {
  border-color: gray;
  cursor: default; }

button.main[aria-disabled='true'],
button.main.disabled {
  background-color: gray;
  color: white; }

button:not(.disabled):hover,
button:not([aria-disabled='true']):hover,
button:not(.disabled):focus,
button:not([aria-disabled='true']):focus,
button:not(.disabled):active,
button:not([aria-disabled='true']):active {
  box-shadow: 0 2px 4px gray; }

button svg {
  vertical-align: text-bottom; }
button svg:first-child {
  margin-right: 5px; }
button svg:last-child {
  margin-left: 5px; }
button.icon.only svg {
  margin: 0; }

progress {
  background: rgba(128, 128, 128, 0.1);
  border: 0 none;
  color: #757575;
  display: block;
  height: 16px;
  width: 100%; }

progress:not([value]) {
  animation: move 2s linear infinite;
  background-image: linear-gradient(-45deg, rgba(128, 128, 128, 0.5) 25%, #b0b0b0 25%, #b0b0b0 50%, rgba(128, 128, 128, 0.5) 50%, rgba(128, 128, 128, 0.5) 75%, #b0b0b0 75%, #b0b0b0 100%);
  background-size: 24px 24px;
  color: rgba(128, 128, 128, 0.5); }

progress::-moz-progress-bar {
  background: #757575; }

progress.target::-moz-progress-bar {
  background: rgba(128, 128, 128, 0.8); }

progress.positive::-moz-progress-bar {
  background: #008951; }

progress.negative::-moz-progress-bar {
  background: #e11400; }

progress.caution::-moz-progress-bar {
  background: #ff9600; }

progress:not([value])::-moz-progress-bar {
  background: transparent; }

progress::-webkit-progress-bar {
  background: transparent; }

progress::-webkit-progress-value {
  background: #757575; }

progress.target::-webkit-progress-value {
  background: rgba(128, 128, 128, 0.8); }

progress.error::-webkit-progress-value {
  background: transparent; }

progress.positive::-webkit-progress-value {
  background: #008951; }

progress.negative::-webkit-progress-value {
  background: #e11400; }

progress.caution::-webkit-progress-value {
  background: #ff9600; }

progress:not([value])::-webkit-progress-value {
  background: transparent; }

@keyframes move {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 24px 24px; } }
.progress_indicator {
  padding: 16px 0;
  position: relative; }
  .progress_indicator .value_info {
    display: block;
    line-height: 16px;
    white-space: nowrap; }
    .progress_indicator .value_info.current {
      font-size: 14px;
      font-size: .875rem;
      font-weight: bold;
      left: 0;
      padding: 0 2px;
      position: absolute;
      text-align: right;
      top: 0; }
    .progress_indicator .value_info.target {
      font-size: 12px;
      font-size: .75rem;
      text-align: right; }
    .progress_indicator .value_info svg {
      height: 8px;
      position: absolute;
      top: 32px;
      width: 8px; }
  .progress_indicator progress:not(.positive) ~ .value_info.target {
    border-right: 1px solid rgba(128, 128, 128, 0.2);
    padding-right: 8px;
    width: 100%; }
    .progress_indicator progress:not(.positive) ~ .value_info.target svg {
      right: -4px; }
  .progress_indicator progress.positive ~ .value_info.target {
    border-left: 1px solid rgba(128, 128, 128, 0.2);
    padding-left: 8px;
    position: absolute;
    right: 0;
    top: 32px;
    text-align: left; }
    .progress_indicator progress.positive ~ .value_info.target svg {
      left: -5px;
      top: 0; }

.main_header {
  background: #757575;
  color: white;
  flex: 0 0 auto;
  height: 75px;
  padding: 5px 30px; }
  .main_header .breadcrumbs {
    font-size: 12px;
    font-size: .75rem;
    font-weight: 200; }
  .main_header h1 {
    padding-top: 10px; }
  .main_header.positive {
    background: #008951 !important; }
  .main_header.negative {
    background: #e11400 !important; }
  .main_header .header_content {
    justify-content: space-between; }
  .main_header ul.tools {
    list-style-type: none;
    margin-right: -10px;
    padding-top: 10px; }
    .main_header ul.tools a {
      color: white; }
      .main_header ul.tools a svg {
        fill: white;
        height: 32px;
        width: 32px; }

.theme_default .main_header {
  background: #757575; }

.theme_manage_people .main_header {
  background: #005c98; }

.theme_manage_entity .main_header {
  background: #066243; }

div.context_help .help_tools {
  display: flex;
  list-style-type: none;
  padding: 0; }

body.help_mini .help_content {
  display: none; }

@media (min-width: 1200px) {
  body:not(.help_bottom) div.context_help {
    border-left: 1px dashed rgba(128, 128, 128, 0.2);
    padding: 10px;
    min-width: 150px;
    max-width: 300px;
    overflow: auto;
    position: sticky;
    right: 0;
    top: 0; }
    body:not(.help_bottom) div.context_help .help_tools {
      justify-content: space-between; }
      body:not(.help_bottom) div.context_help .help_tools .help_side,
      body:not(.help_bottom) div.context_help .help_tools .help_mini_bottom,
      body:not(.help_bottom) div.context_help .help_tools .help_maxi {
        display: none; }
  body:not(.help_bottom).help_mini div.context_help {
    min-width: 32px;
    width: 32px;
    overflow: hidden; }
    body:not(.help_bottom).help_mini div.context_help .help_tools {
      flex-wrap: wrap; }
      body:not(.help_bottom).help_mini div.context_help .help_tools .help_mini,
      body:not(.help_bottom).help_mini div.context_help .help_tools .help_maxi_bottom {
        display: none; }
      body:not(.help_bottom).help_mini div.context_help .help_tools .help_maxi {
        display: block; }

  body.help_bottom div.context_help {
    border-top: 1px dashed rgba(128, 128, 128, 0.2);
    padding: 10px 30px;
    width: 100%; }
    body.help_bottom div.context_help .help_tools {
      justify-content: flex-end; }
      body.help_bottom div.context_help .help_tools .help_bottom,
      body.help_bottom div.context_help .help_tools .help_mini_side,
      body.help_bottom div.context_help .help_tools .help_maxi {
        display: none; }
      body.help_bottom div.context_help .help_tools li {
        text-align: right;
        width: 32px; }
  body.help_bottom.help_mini div.context_help {
    height: 32px;
    overflow: hidden; }
    body.help_bottom.help_mini div.context_help .help_tools .help_mini,
    body.help_bottom.help_mini div.context_help .help_tools .help_maxi_side {
      display: none; }
    body.help_bottom.help_mini div.context_help .help_tools .help_maxi {
      display: block; } }
@media (max-width: 1200px) {
  div.context_help {
    border-top: 1px dashed rgba(128, 128, 128, 0.2);
    padding: 10px 30px;
    width: 100%; }
    div.context_help .help_tools {
      justify-content: flex-end; }
      div.context_help .help_tools .help_bottom,
      div.context_help .help_tools .help_side,
      div.context_help .help_tools .help_mini_side,
      div.context_help .help_tools .help_maxi_side,
      div.context_help .help_tools .help_maxi {
        display: none; }

  body.help_mini div.context_help {
    height: 32px;
    overflow: hidden; }
    body.help_mini div.context_help .help_tools .help_mini {
      display: none; }
    body.help_mini div.context_help .help_tools .help_maxi {
      display: block; } }
div.layout.flex {
  display: flex; }
div.layout.third > div:first-child {
  width: 33.3333%; }
div.layout.third > div:last-child {
  width: 66.6666%; }

div.base_layout {
  height: 100vh;
  overflow: hidden;
  width: 100vw; }

div.base_content {
  flex: 1 0 auto;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; }

div.main_area {
  flex: 1 0 auto;
  overflow: auto; }

@media (max-width: 800px) {
  div.layout.flex {
    flex-wrap: wrap; }
  div.layout.third > div:first-child,
  div.layout.third > div:last-child {
    width: 100%; } }
.main_area li {
  padding-bottom: 5px; }

.main_area {
  height: calc( 100vh - 75px );
  transition: width .25s ease-out; }
  .main_area > main {
    flex: 1 0 auto; }
    .main_area > main:only-child {
      max-width: 100%; }

.main_actions {
  background: white;
  margin-left: 25px;
  padding: 10px 30px 10px 5px;
  position: sticky;
  text-align: right;
  top: 0; }

.main_content {
  padding: 20px 30px; }

@media (min-width: 1025px) {
  .main_area {
    width: calc( 100vw - 250px ); }

  body.menu_mini .main_area {
    width: calc( 100vw - 40px ); } }
@media (min-width: 1200px) {
  .main_area {
    width: calc( 100vw - 300px ); }

  body:not(.help_bottom) .main_area {
    display: flex; } }
@media (max-width: 1024px) {
  .main_area {
    width: calc( 100vw - 42px ); } }
.base_menu {
  align-items: flex-start;
  background: white;
  box-shadow: 0 0 10px gray;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  transition: margin .25s ease-out; }
  .base_menu > *:not(nav) {
    flex: 0 0 auto;
    padding: 10px 50px; }
  .base_menu > nav {
    flex: 1 0 auto;
    padding: 10px 0;
    width: 100%; }
  .base_menu .access_tools {
    margin-left: -400px; }
    .base_menu .access_tools a {
      display: block;
      margin-bottom: 5px;
      transition: transform .15s ease-out; }
    .base_menu .access_tools:focus a,
    .base_menu .access_tools a:focus {
      transform: translate(360px); }
  .base_menu .menu_tools {
    list-style-type: none;
    padding: 0;
    position: absolute;
    top: 5px;
    right: 5px; }
    .base_menu .menu_tools .icon svg {
      height: 24px;
      margin: 4px;
      width: 24px; }
  .base_menu header {
    font-weight: bold;
    position: relative;
    width: 100%; }
    .base_menu header .user_avatar {
      background: #757575;
      border-radius: 50%;
      display: inline-block;
      height: 48px;
      margin-right: 5px;
      vertical-align: middle;
      width: 48px; }
      .base_menu header .user_avatar svg {
        fill: white;
        height: 48px;
        clip-path: circle(24px at center);
        width: 48px; }
    .base_menu header a {
      color: black;
      text-decoration: none; }
    .base_menu header a:hover,
    .base_menu header a:focus,
    .base_menu header a:active {
      text-decoration: underline; }
    .base_menu header .icon.theme {
      background: rgba(128, 128, 128, 0.2);
      display: none;
      height: 40px;
      position: absolute;
      right: 0;
      top: 14px;
      width: 40px;
      z-index: 10; }
      .base_menu header .icon.theme svg {
        fill: white;
        height: 32px;
        margin: 4px;
        width: 32px; }
    .base_menu header ul {
      z-index: 5; }
  .base_menu nav ul {
    list-style-type: none;
    width: 100%; }
    .base_menu nav ul li {
      display: block; }
    .base_menu nav ul a {
      border-left: 5px solid white;
      color: black;
      display: block;
      padding: 7px 10px 7px 45px;
      text-decoration: none; }
      .base_menu nav ul a:hover, .base_menu nav ul a:focus {
        background: #757575;
        color: white; }
      .base_menu nav ul a:active {
        border-color: #757575; }
    .base_menu nav ul li.current_item > a {
      border-color: #757575;
      font-weight: bold; }
  .base_menu footer {
    font-size: 10px;
    font-size: .625rem; }

@media (min-height: 1001px) {
  div.base_menu nav ul a {
    padding-bottom: 10px;
    padding-top: 10px; } }
@media (min-width: 1025px) {
  .menu_tools .menu,
  .menu_tools .menu_size.maxi {
    display: none; }

  body.menu_mini .base_menu {
    margin-left: -210px; }
    body.menu_mini .base_menu nav,
    body.menu_mini .base_menu header .user_avatar,
    body.menu_mini .base_menu header a,
    body.menu_mini .base_menu footer {
      visibility: hidden; }
  body.menu_mini .menu_tools .menu_size.maxi {
    display: block; }
  body.menu_mini .menu_tools .menu_size.mini {
    display: none; }

  .base_menu {
    width: 250px; }

  .base_content {
    width: calc( 100vw - 250px ); } }
@media (min-width: 1200px) {
  .base_menu {
    width: 300px; }

  .base_content {
    width: calc( 100vw - 300px ); }

  body.menu_mini .base_menu {
    margin-left: -260px; } }
@media (max-width: 1024px) {
  .menu_tools .menu_size {
    display: none; }

  .base_menu {
    margin-left: -260px;
    width: 300px; }
    .base_menu nav,
    .base_menu footer {
      opacity: 0;
      transition: opacity .25s .1s ease-out; }
    .base_menu .menu_tools .menu {
      display: block; }

  .base_menu.open {
    margin-left: 0;
    margin-right: -260px;
    z-index: 10; }
    .base_menu.open nav,
    .base_menu.open header,
    .base_menu.open footer {
      opacity: 1; } }
.theme_default .base_menu header .user_avatar {
  background: #757575; }
.theme_default .base_menu nav ul a:hover,
.theme_default .base_menu nav ul a:focus {
  background: #757575; }
.theme_default .base_menu nav ul a:active,
.theme_default .base_menu nav ul li.current_item > a {
  border-color: #757575; }

.theme_manage_people .base_menu header .user_avatar {
  background: #005c98; }
.theme_manage_people .base_menu header .icon.theme.people {
  display: block; }
.theme_manage_people .base_menu nav ul a:hover,
.theme_manage_people .base_menu nav ul a:focus {
  background: #005c98; }
.theme_manage_people .base_menu nav ul a:active,
.theme_manage_people .base_menu nav ul li.current_item > a {
  border-color: #005c98; }

.theme_manage_entity .base_menu header .user_avatar {
  background: #066243; }
.theme_manage_entity .base_menu header .icon.theme.entity {
  display: block; }
.theme_manage_entity .base_menu nav ul a:hover,
.theme_manage_entity .base_menu nav ul a:focus {
  background: #066243; }
.theme_manage_entity .base_menu nav ul a:active,
.theme_manage_entity .base_menu nav ul li.current_item > a {
  border-color: #066243; }

.notifications {
  position: absolute;
  right: 0;
  top: 0; }
  .notifications ul {
    list-style-type: none; }
  .notifications li {
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    border-left: 5px solid white;
    box-shadow: 0 0 1px white, 0 0 5px black;
    display: flex;
    justify-content: space-between;
    margin: 5px; }
    .notifications li[class] span.icon svg {
      fill: white; }
    .notifications li.success {
      border-left-color: #008951; }
      .notifications li.success span.icon {
        background: #008951; }
    .notifications li.error {
      border-left-color: #e11400; }
      .notifications li.error span.icon {
        background: #e11400; }
    .notifications li.caution {
      border-left-color: #ff9600; }
      .notifications li.caution span.icon {
        background: #ff9600; }
    .notifications li.neutral {
      border-left-color: #007ab1; }
      .notifications li.neutral span.icon {
        background: #007ab1; }
    .notifications li .text {
      padding: 5px 10px;
      width: calc( 100% - 58px ); }
    .notifications li:not(.open) {
      display: none; }
  .notifications span {
    display: inline-block; }
  .notifications span.icon {
    flex: 0 0 auto;
    height: 48px;
    width: 48px; }
    .notifications span.icon svg {
      fill: black;
      height: 36px;
      margin: 4px;
      width: 36px; }
  .notifications .close {
    align-self: flex-start; }
    .notifications .close svg {
      fill: black; }

@media (max-width: 600px) {
  .notifications li {
    max-width: 100vw; } }
@media (min-width: 601px) {
  .notifications li {
    max-width: 50vw; } }
table th {
  background: rgba(128, 128, 128, 0.1); }
table th,
table td {
  font-size: 14px;
  font-size: .875rem;
  padding: 4px 2px; }
table td {
  text-align: center; }
table .colText {
  text-align: left; }
  table .colText a {
    color: black;
    display: block;
    line-height: 1.25em;
    text-decoration: underline; }
  table .colText a:hover,
  table .colText a:focus,
  table .colText a:active {
    text-decoration: none; }
table .colActions {
  text-align: right; }
table .colState {
  text-align: center;
  white-space: nowrap; }
table .colNumber {
  text-align: right; }
table .colDate {
  width: 8em; }
table td.colState {
  font-size: 14px;
  font-size: .825rem; }
table tbody tr:nth-child(2n) td {
  background: rgba(128, 128, 128, 0.05); }
table tfoot tr:first-child td {
  border-top: 1px solid rgba(128, 128, 128, 0.1); }

@font-face {
  font-family: 'Chivo';
  src: url("../resources/fonts/chivo-light-webfont.eot");
  src: url("../resources/fonts/chivo-light-webfont.woff2") format("woff2"), url("../resources/fonts/chivo-light-webfont.woff") format("woff"), url("../resources/fonts/chivo-light-webfont.ttf") format("truetype"), url("../resources/fonts/chivo-light-webfont.eot?#iefix") format("embedded-opentype");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'Chivo';
  src: url("../resources/fonts/chivo-lightitalic-webfont.eot");
  src: url("../resources/fonts/chivo-lightitalic-webfont.woff2") format("woff2"), url("../resources/fonts/chivo-lightitalic-webfont.woff") format("woff"), url("../resources/fonts/chivo-lightitalic-webfont.ttf") format("truetype"), url("../resources/fonts/chivo-lightitalic-webfont.eot?#iefix") format("embedded-opentype");
  font-weight: 200;
  font-style: italic; }
@font-face {
  font-family: 'Chivo';
  src: url("../resources/fonts/chivo-regular-webfont.eot");
  src: url("../resources/fonts/chivo-regular-webfont.woff2") format("woff2"), url("../resources/fonts/chivo-regular-webfont.woff") format("woff"), url("../resources/fonts/chivo-regular-webfont.ttf") format("truetype"), url("../resources/fonts/chivo-regular-webfont.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Chivo';
  src: url("../resources/fonts/chivo-italic-webfont.eot");
  src: url("../resources/fonts/chivo-italic-webfont.woff2") format("woff2"), url("../resources/fonts/chivo-italic-webfont.woff") format("woff"), url("../resources/fonts/chivo-italic-webfont.ttf") format("truetype"), url("../resources/fonts/chivo-italic-webfont.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Chivo';
  src: url("../resources/fonts/chivo-bold-webfont.eot");
  src: url("../resources/fonts/chivo-bold-webfont.woff2") format("woff2"), url("../resources/fonts/chivo-bold-webfont.woff") format("woff"), url("../resources/fonts/chivo-bold-webfont.ttf") format("truetype"), url("../resources/fonts/chivo-bold-webfont.eot?#iefix") format("embedded-opentype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Chivo';
  src: url("../resources/fonts/chivo-bolditalic-webfont.eot");
  src: url("../resources/fonts/chivo-bolditalic-webfont.woff2") format("woff2"), url("../resources/fonts/chivo-bolditalic-webfont.woff") format("woff"), url("../resources/fonts/chivo-bolditalic-webfont.ttf") format("truetype"), url("../resources/fonts/chivo-bolditalic-webfont.eot?#iefix") format("embedded-opentype");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Chivo';
  src: url("../resources/fonts/chivo-black-webfont.eot");
  src: url("../resources/fonts/chivo-black-webfont.woff2") format("woff2"), url("../resources/fonts/chivo-black-webfont.woff") format("woff"), url("../resources/fonts/chivo-black-webfont.ttf") format("truetype"), url("../resources/fonts/chivo-black-webfont.eot?#iefix") format("embedded-opentype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Chivo';
  src: url("../resources/fonts/chivo-blackitalic-webfont.eot");
  src: url("../resources/fonts/chivo-blackitalic-webfont.woff2") format("woff2"), url("../resources/fonts/chivo-blackitalic-webfont.woff") format("woff"), url("../resources/fonts/chivo-blackitalic-webfont.ttf") format("truetype"), url("../resources/fonts/chivo-blackitalic-webfont.eot?#iefix") format("embedded-opentype");
  font-weight: 900;
  font-style: italic; }
body,
input,
textarea,
button {
  color: black;
  font-family: 'Chivo', sans-serif; }

h1 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: bold; }

h2 {
  font-size: 22px;
  font-size: 1.25rem;
  font-weight: bold; }

h3 {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: .2em; }

h4 {
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: .2em; }

h5 {
  font-size: 16px;
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: .2em; }

h6 {
  font-size: 14px;
  font-size: .875rem;
  font-weight: bold;
  margin-bottom: .2em; }

.dashboard {
  flex-wrap: wrap;
  justify-content: space-around;
  margin: -10px;
  padding-top: 20px; }
  .dashboard .dash_elem {
    margin: 10px;
    width: calc( 50% - 20px);
    min-height: 250px; }
    .dashboard .dash_elem:not(.empty) {
      box-shadow: 0 0 5px #757575; }
    .dashboard .dash_elem.empty {
      align-items: center;
      border: 1px dashed rgba(128, 128, 128, 0.2);
      display: flex;
      justify-content: center; }
  .dashboard h2 {
    border-bottom: 1px solid rgba(128, 128, 128, 0.1);
    position: relative; }
    .dashboard h2 .icon:first-child {
      height: 2.5em;
      display: inline-block;
      margin-right: 5px;
      vertical-align: -.8em;
      width: 2.5em; }
      .dashboard h2 .icon:first-child svg {
        display: block;
        fill: white;
        height: 1.5em;
        margin: .5em;
        width: 1.5em; }
    .dashboard h2 .icon.close {
      right: 0;
      position: absolute; }
  .dashboard h3 {
    margin: 20px 10px 0; }
    .dashboard h3 + table {
      margin-top: 0; }
  .dashboard ul {
    list-style-type: none;
    padding: 10px; }
    .dashboard ul li {
      border-bottom: 1px solid rgba(128, 128, 128, 0.1);
      padding-bottom: 10px; }
    .dashboard ul h3 {
      margin: 10px 0 5px; }
  .dashboard .search_form {
    padding: 5px 10px; }
    .dashboard .search_form input:only-of-type {
      flex: 1 0 auto; }
    .dashboard .search_form button {
      flex: 0 0 auto;
      margin-left: 5px; }
  .dashboard .progress_indicator {
    margin: 0 10px; }
  .dashboard table {
    margin: 10px 5px;
    width: calc( 100% - 10px ); }
    .dashboard table tfoot td {
      padding-top: 10px; }

@media (max-width: 1024px) {
  .dashboard .dash_elem {
    width: calc( 100% - 20px); } }
.theme_default .dashboard h2 .icon:first-child {
  background: #757575; }

.theme_manage_people .dashboard h2 .icon:first-child {
  background: #005c98; }

.theme_manage_entity .dashboard h2 .icon:first-child {
  background: #066243; }

body.login .layout {
  height: 100vh; }
body.login .login_form {
  box-shadow: 0 0 10px gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  z-index: 10; }
  body.login .login_form .endi_logo {
    flex: 1 0 auto; }
  body.login .login_form form {
    flex: 3 0 auto; }
    body.login .login_form form > div {
      padding-bottom: 30px; }
    body.login .login_form form input[type="text"],
    body.login .login_form form input[type="password"] {
      width: 100%; }
  body.login .login_form .login_footer {
    align-items: flex-end;
    display: flex;
    font-size: 12px;
    font-size: .75rem;
    justify-content: space-between;
    flex: 0 0 auto; }
    body.login .login_form .login_footer p:first-child {
      margin-right: 5px; }
    body.login .login_form .login_footer p:last-child {
      margin-left: 5px;
      text-align: right; }
    body.login .login_form .login_footer a {
      text-decoration: none; }
    body.login .login_form .login_footer a:hover,
    body.login .login_form .login_footer a:focus,
    body.login .login_form .login_footer a:active {
      text-decoration: underline; }
body.login .atwork_photo {
  background-color: gray;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  body.login .atwork_photo > p {
    background: rgba(255, 255, 255, 0.5);
    bottom: 10px;
    font-size: 12px;
    font-size: .75rem;
    padding: 5px 10px;
    position: absolute;
    right: 10px;
    text-align: right;
    text-shadow: 0 0 1px white;
    max-width: calc( 100% - 20px ); }

@media (max-width: 500px) {
  body.login .login_form {
    padding: 20px; }
    body.login .login_form form {
      padding-top: 40px; } }
@media (min-width: 501px) and (max-width: 800px) {
  body.login .endi_logo {
    left: 50px;
    position: absolute;
    top: 50px; }
  body.login .login_form form,
  body.login .login_form .login_footer {
    margin-left: 178px; }
  body.login .login_form .login_footer {
    padding-top: 20px; } }
@media (max-width: 800px) {
  body.login .layout {
    height: auto;
    min-height: 100vh; }
  body.login .login_form form {
    flex: 1 0 auto; }
  body.login .atwork_photo {
    min-height: 50vh; } }
body {
  background: white; }

ul {
  list-style-type: square;
  list-style-position: inside; }

a:link {
  color: #007ab1; }

a:visited {
  color: #67777e; }

a:hover,
a:focus,
a:active {
  text-decoration: none; }

.icon {
  display: inline-block;
  font-size: 16px;
  font-size: 1rem;
  position: relative; }
  .icon > svg {
    height: 16px;
    pointer-events: none;
    vertical-align: text-top;
    width: 16px; }
    .icon > svg title {
      display: none; }
  .icon.close svg {
    height: 12px;
    margin: 6px;
    width: 12px; }
  .icon .bubble {
    background: #e11400;
    border-radius: 50%;
    bottom: -3px;
    box-shadow: 0 1px 1px black;
    display: inline-block;
    color: white;
    height: 1.5em;
    line-height: 1.5em;
    position: absolute;
    right: -3px;
    text-align: center;
    width: 1.5em; }

a.icon:hover > svg,
a.icon:focus > svg,
a.icon:active > svg {
  filter: drop-shadow(0 1px 0 white);
  fill: #1de67e; }

.icon.state {
  background: gray;
  border-radius: 4px;
  display: inline-block;
  padding: 5px 4px 4px; }
  .icon.state svg {
    fill: white; }
  .icon.state.success, .icon.state.valid {
    background: #008951; }
  .icon.state.caution, .icon.state.unpaid {
    background: #ff9600; }
  .icon.state.partial_unpaid {
    background: linear-gradient(160deg, #008951 0%, #008951 50%, #ff9600 51%, #ff9600 100%); }
  .icon.state.error, .icon.state.invalid {
    background: #e11400; }
  .icon.state.draft {
    background: gray; }

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; }

/*# sourceMappingURL=main.css.map */
