form {
	font-size: 14px;
	font-size: .875rem;
	> div {
		padding-bottom: 10px;
	}
}
label {
	display: block;
}
label[for] {
	font-weight: bold;
}
input[type="text"],
input[type="password"] {
	border: $simpleLine solid $white;
	border-bottom-color: $black;
	font-size: 14px;
	font-size: .875rem;
	padding: 10px 0;
}
input[type="text"]:focus,
input[type="password"]:focus {
	box-shadow: 0 1px 0 $midFadedGrey, 0 2px 0 $fadedGrey;
}
button {
	background: $white;
	border: 1px solid $lightGreen;
	border-radius: 0;
	cursor: pointer;
	font-size: 14px;
	font-size: .875rem;
	font-weight: bold;
	padding: $unitPadding*2 $unitPadding*4;
	&.icon.only {
		padding: $unitPadding*2;
	}
}
button.main {
	background: $lightGreen;
}
button[aria-disabled='true'],
button.disabled {
	border-color: $midGrey;
	cursor: default;
}
button.main[aria-disabled='true'],
button.main.disabled {
	background-color: $midGrey;
	color: $white;
}
button:not(.disabled):hover,
button:not([aria-disabled='true']):hover,
button:not(.disabled):focus,
button:not([aria-disabled='true']):focus,
button:not(.disabled):active,
button:not([aria-disabled='true']):active {
	box-shadow: 0 2px 4px $midGrey;
}
button {
	svg {
		vertical-align: text-bottom;
	}
	svg:first-child {
		margin-right: $unitPadding;
	}
	svg:last-child {
		margin-left: $unitPadding;
	}
	&.icon.only {
		svg {
			margin: 0;
		}
	}
}
