.main_header {
	background: $darkGrey;
	color: $white;
	flex: 0 0 auto;
	height: 75px;
	padding: $contentVerPadding/2 $contentHorPadding;
	.breadcrumbs {
		font-size: 12px;
		font-size: .75rem;
		font-weight: 200;
	}
	h1 {
		padding-top: $contentVerPadding;
	}
	&.positive {
		background: $funcPositive !important;
	}
	&.negative {
		background: $funcNegative !important;
	}
}
.theme_default .main_header {
	background: $darkGrey;
}
.theme_manage_people .main_header {
	background: $darkBlue;
}
.theme_manage_entity .main_header {
	background: $darkGreen;
}