div.layout {
	&.flex {
		display: flex;
	}
	&.third {
		> div:first-child {
			width: 33.3333%;
		}
		> div:last-child {
			width: 66.6666%;
		}
	}
}
div.base_layout {
	height: 100vh;
	overflow: hidden;
	width: 100vw;
}
div.base_content {
	flex: 1 0 auto;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;
}
div.main_area {
	flex: 1 0 auto;
	overflow: auto;
}
@media (max-width: 800px) {
	div.layout {
		&.flex {
			flex-wrap: wrap;
		}
		&.third {
			> div:first-child,
			> div:last-child {
				width: 100%;
			}
		}
	}
}