.base_menu {
	align-items: flex-start; 
	background: $white;
	box-shadow: 0 0 10px $midGrey;
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	justify-content: space-between;
	position: relative;
	> *:not(nav) {
		flex: 0 0 auto;
		padding: $contentVerPadding $menuHorPadding;
	}
	> nav {
		flex: 1 0 auto;
		padding: $contentVerPadding 0;
		width: 100%;
	}
	.access_tools {
		margin-left: -400px;
		a {
			display: block;
			margin-bottom: 5px;
			transition: transform .15s ease-out;
		}
		&:focus a,
		a:focus {
			transform: translate( 360px );
		}
	}
	.menu_tools {
		padding: 0;
		position: absolute;
		top: 5px;
		right: 5px;
		.icon svg {
			height: 24px;
			margin: 4px;
			width: 24px;
		}
	}
	header {
		font-weight: bold;
		.user_avatar {
			background: $darkGrey;
			border-radius: 50%;
			display: inline-block;
			height: 48px;
			margin-right: 5px;
			vertical-align: middle;
			width: 48px;
			svg {
				fill: $white;
				height: 48px;
				clip-path: circle( 24px at center );
				width: 48px;
			}
		}
		a {
			color: $black;
			text-decoration: none;
		}
		a:hover,
		a:focus,
		a:active {
			text-decoration: underline;
		}
	}
	nav ul {
		list-style-type: none;
		width: 100%;
		li {
			display: block;
		}
		a {
			border-left: 5px solid $white;
			color: $black;
			display: block;
			padding: 7px 10px 7px $menuLinkPadding;
			text-decoration: none;
			&:hover,
			&:focus {
				background: $darkGrey;
				color: $white;
			}
			&:active {
				border-color: $darkGrey;
			}
		}
		li.current_item > a {
			border-color: $darkGrey;
			font-weight: bold;
		}
	}
	footer {
		font-size: 10px;
		font-size: .625rem;
	}
}
@media (min-height: 1001px) {
	div.base_menu {
		nav ul a {
			padding-bottom: $unitPadding*2;
			padding-top: $unitPadding*2;
		}
	}
}
@media (min-width: 1280px) {
	.base_menu {
		width: 300px;
	}
	.base_content {
		width: calc( 100vw - 300px );
	}
}
@media (min-width: 1025px) {
	.menu_tools .menu {
		display: none;
	}
	.base_menu {
		width: 250px;
	}
	.base_content {
		width: calc( 100vw - 250px );
	}
}
@media (max-width: 1024px) {
	.base_menu {
		transition: margin .25s ease-out;
		margin-left: -258px;
		width: 300px;
		nav,
		header,
		footer {
			opacity: 0;
			transition: opacity .25s .1s ease-out;
		}
		.menu_tools .menu {
			display: block;
		}
	}
	.base_menu.open {
		margin-left: 0;
		margin-right: -258px;
		z-index: 10;
		nav,
		header,
		footer {
			opacity: 1;
		}
	}
}
.theme_default .base_menu {
	header .user_avatar {
		background: $darkGrey;
	}
	nav ul {
		a:hover,
		a:focus {
			background: $darkGrey;
		}
		a:active,
		li.current_item > a {
			border-color: $darkGrey;
		}
	}
}
.theme_manage_people .base_menu {
	header .user_avatar {
		background: $darkBlue;
	}
	nav ul {
		a:hover,
		a:focus {
			background: $darkBlue;
		}
		a:active,
		li.current_item > a {
			border-color: $darkBlue;
		}
	}
}
.theme_manage_entity .base_menu {
	header .user_avatar {
		background: $darkGreen;
	}
	nav ul {
		a:hover,
		a:focus {
			background: $darkGreen;
		}
		a:active,
		li.current_item > a {
			border-color: $darkGreen;
		}
	}
}