table {
	th {
		background: $veryFadedGrey;
	}
	th,
	td {
		font-size: 14px;
		font-size: .875rem;
		padding: 4px 2px;
	}
	td {
		text-align: center;
	}
	.colText {
		text-align: left;
		a {
			color: $black;
			display: block;
			line-height: 1.25em;
			text-decoration: underline;
		}
		a:hover,
		a:focus,
		a:active {
			text-decoration: none;
		}
	}
	.colActions {
		text-align: right;
	}
	.colState {
		text-align: center;
		white-space: nowrap;
	}
	.colNumber {
		text-align: right;
	}
	.colDate {
		width: 8em;
	}
	td.colState {
		font-size: 14px;
		font-size: .825rem;
	}
	tbody tr:nth-child(2n) td {
		background: $evenOddGrey;
	}
	tfoot tr:first-child td {
		border-top: 1px solid $veryFadedGrey;
	}
}